body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    margin: 0;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* =============HEADER=============== */

.menu-page .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

@media screen and (min-width: 1158px) {
    .menu-page .container {
        justify-content: center;
    }
}
.menu-page {
    background: #fff;
    border-bottom: 1px solid #e7e9fc;
    flex-shrink: 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu-nav {
    display: flex;
    align-items: center;

}

@media screen and (min-width: 1158px) {
    .menu-nav {
        margin-right: auto;
    }
}

.menu-page .logo {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .menu-page .logo{
        margin-right: 120px;
    }
}

@media screen and (min-width: 1158px) {
    .menu-page .logo {
        margin-right: 76px;
    }
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16666667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.logo-part-black {
    color: #2e2f42;
}

.logo-studio-footer {
    color: #f4f4fd;
}

.page-nav {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.link {
    padding: 24px 0;
}

.page-nav .link {
    display: block;
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-nav .link:hover {
    color: #404bbf;
}

.page-nav .link:focus {
    color: #404bbf;
}

.page-nav .link.first {
    position: relative;
    color: #404bbf;
}

.menu-address {
    font-style: normal;
    display: block;
}

.page-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style-type: none;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    .page-address {
        display: none;
        gap: 12px;
    }
    .page-nav {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .page-address {
        padding: 24px 0;
        margin-left: auto;
        flex-direction: row;
    }
}

.page-address .link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 767px) and (max-width: 1157px) {
    .page-address .link {
        font-size: 12px;
        line-height: 1.166;
        letter-spacing: 0.04em;
    }
}

.page-address .link:hover {
    color: #404bbf;
}

.page-address .link:focus {
    color: #404bbf;
}

@media screen and (max-width: 320px) {
    .page-nav {
        display: none;
    }
    .menu-address {
        display: none;
    }
}


.menu-button {
    border: none;
    padding: 0;
    background-color: transparent;
    display: none;
}

@media screen and (max-width: 767px) {
    .menu-button {
        display: block;
    }

}

/* ==============Mobile menu====================== */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 72px 16px 16px 16px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(100%);    
}

.button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
}

.modal-page-nav {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.modal-page-nav .modal-link {
    text-transform: capitalize;
    display: block;
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1111;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-page-nav .modal-link.first {
    color: #404bbf;
}

.modal-page-nav .modal-link:hover {
    color: #404bbf;
}

.modal-page-nav .modal-link:focus {
    color: #404bbf;
}

.modal-menu-address {
    font-style: normal;
    
}

.modal-page-address {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-top: 80px;
    margin-bottom: 48px;
}

.modal-page-address .modal-link {
    color: #434455;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.002em;
    transition-property: color;
    transition-duration: 250ms;
    font-weight: 500;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-page-address .modal-link.first {
    color: #4D5AE5;
}

.modal-page-address .modal-link:hover {
    color: #404bbf;
}

.modal-page-address .modal-link:focus {
    color: #404bbf;
}

.modal-icon {    
    display: flex;
    gap: 40px;
    list-style-type: none;
}

/* =========== FIRST SECTION============= */

.main-page-text {
    background: #2e2f42;
    padding: 72px 0px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/mob-hero@1x.jpg);
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}


@media screen and (min-resolution: 192dpi) {
    .main-page-text {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/mob-hero@2x.jpg)
    }
}

@media screen and (min-width: 768px) {
    .main-page-text {
        max-width: 768px;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/Dark-bg@1x758.jpg);
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
    .main-page-text {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Dark-bg@2x758.jpg)
    }
}

@media screen and (min-width: 1158px) {
    .main-page-text {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office.jpg);
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
    .main-page-text {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office@2x1158.jpg);
    }
}

.main-page-text-title {
    color: #fff;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
    font-size: 36px;
    line-height: 1.111;
    max-width: 205px;
    margin: 0 auto;
    margin-bottom: 72px;

}

@media screen and (min-width: 768px) {
    .main-page-text-title {
        max-width: 496px;
        font-size: 56px;
        padding: 0;
        line-height: 1.07;
        margin-bottom: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .main-page-text-title {
        margin-bottom: 48px;
    }
}

.main-page-btn {
    background-color: #4d5ae5;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding-left: 32px;
    margin: auto;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
    min-width: 169px;
    border: none;
    height: 56px;
    white-space: nowrap;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-page-btn:hover {
    background-color: #404bbf;
}

.main-page-btn:focus {
    background-color: #404bbf;
}

/* ============SECTION 2================= */


.container-text {
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
    .container-text {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container-text-list {
    background-color: #ffffff;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 72px;
    justify-content: center;
    flex-shrink: 0;
}

@media screen and (min-width: 768px) {
    .container-text-list {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 72px;
    }
}

.list-block {
    flex-basis: calc((100% - 72px) / 4);
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .list-block {
        flex-basis: calc((100% - 24px) / 2);
    }
}

.icon-list {
    display: none;
}

@media screen and (min-width: 1158px) {
    .icon-list {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        justify-content: center;
        padding: 24px 100px;
        border-radius: 4px;
        border: 1px solid var(--LIGHT-SLATE, #8e8f99);
        background: var(--CLOUD, #f4f4fd);
        width: 264px;
        height: 112px;
        flex-shrink: 0;
    }
}


.container-text-title {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.111;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 0px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .container-text-title {
    text-align: start;
    }
}

@media screen and (min-width: 1158px) {
    .container-text-title {
        font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
    }
}

.container-text-descr {
    font-weight: 500;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 1158px) {
    .container-text-descr {
        font-weight: 400;
    }
}

/* =========SECTION 3===================== */

.sector-team-company {
    background: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px; 
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .sector-team-company {
        padding-left: 108px;
        padding-right: 108px;
    }
}

@media screen and (min-width: 1158px) {
    .sector-team-company {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .sector-team-company .container {
        padding: 0;
    }
}

.info-company {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-company-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    flex-direction: column;
    gap: 72px;
}


@media screen and (min-width: 768px) {
    .team-company-list {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 64px;
    }
}

@media screen and (min-width: 1158px) {
    .team-company-list {
        box-sizing: border-box;
        flex-wrap: nowrap;
    }
}

.team-company-page {
    background-color: #ffffff;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .team-company-page {
        flex-basis: calc((100% - 24px) / 2);
    }
}

.name-job-block {
    padding: 32px 0;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #fff);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-name {
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-job-title {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    list-style-type: none;
    margin-top: 8px;
}

.list-link-icon {
    width: 40px;
    height: 40px;
}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: #4d5ae5;
    color: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover {
    background-color: #404bbf;
}

.icon-link:focus {
    background-color: #404bbf;
}

.icon-edit {
    fill: #f4f4fd;
}

/* =============SECTION 4========================== */

.sector-portfolio-company {
    background: #fff;
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
    .sector-portfolio-company {
        padding-top: 120px;
        padding-bottom: 120px;
        }
}

.title-text-portfolio {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-company-list {
    list-style-type: none;
    display: flex;
    column-gap: 32px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 48px;
}
@media screen and (min-width: 768px) {
    .portfolio-company-list {
        flex-direction: row;
        column-gap: 24px;
        row-gap: 72px;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-company-list {
        box-sizing: border-box;
        row-gap: 48px;
    }
}

.page {
    position: relative;
    overflow: hidden;
}

.portfolio-block {
    width: 288px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
    .portfolio-block {
        width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .portfolio-block {
        width: calc((100% - 2*24px) / 3);
        box-shadow: none;
    }
}

.item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.item-portfolio-company {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.direction-item-portfolio-company {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.overlay {
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 300px;
    flex-shrink: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-block:hover .overlay {
    transform: translateY(0);
}

.portfolio-block:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* =========FOOTER=============================== */

.sector-contacts-company {
    background: #2E2F42;
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .sector-contacts-company {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
        }
}

.sector-contacts-company .logo {
        display: flex;
        margin-bottom: 17.5px;
        align-items: center;
        justify-content: center;
}

@media screen and (min-width: 768px) {
    .sector-contacts-company .logo {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1158px) {
    .sector-contacts-company .logo {
        margin-bottom: 16px;
    }
}

.sector-contacts-company .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .sector-contacts-company .container {
        padding: 0 108px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1158px) {
    .sector-contacts-company .container {
        flex-wrap: nowrap;
        padding: 0;
        
    }
}

.text-footer {
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .text-footer {
        margin-left: 0;
        margin-right: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .text-footer {
        margin-right: 120px;
        padding-left: 0;
        margin-bottom: 0;
    }
}

.icon-link-footer {
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .icon-link-footer {
        margin-bottom: 104px;
        margin-right: 0;
    }
}

@media screen and (min-width: 1158px) {
    .icon-link-footer {
        margin-bottom: 0;
        justify-content: center;
    }
}

.text-contacts-company {
    max-width: 288px;
    font-weight: 400;
    margin-bottom: 0;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 1158px) {
    .text-contacts-company {
        max-width: 264px;
        font-weight: 500;
    }
}

.icon-link-footer .text-contacts-company {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .icon-link-footer .text-contacts-company {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1158px) {
    .icon-link-footer .text-contacts-company {
        margin-bottom: 16px;
    }
}

.sector-contacts-company .list-icon {
    margin-top: 16px;
    
}

@media screen and (min-width: 1158px) {
    .sector-contacts-company .list-icon {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

.sector-contacts-company .icon-link:hover {
    background-color: #31d0aa;
}

.sector-contacts-company .icon-link:focus {
    background-color: #31d0aa;
}

.sector-contacts-company .list-icon {
    gap: 16px;
}

/*+++++++++++ form footer+++++++++++++ */



@media screen and (min-width: 1158px) {
    .footer-modal-window {
        margin-left: 80px;
    }
}

.footer-group-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .footer-group-title {
        justify-content: flex-start;
    }
}

.footer-form {
    flex-direction: column;
    gap: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

@media screen and (min-width: 768px) {
    .footer-form {
        flex-direction: row;
        gap: 24px;
        
    }
}


.footer-form-label {
    background-color: #2E2F42;
}


.footer-form-input {
    background-color: #2E2F42;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #ffffff;
    background-color: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: auto;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
    width: 288px;
    opacity: 0.3;
}

@media screen and (min-width: 768px) {
    .footer-form-input {
        width: 264px;
    }
}

.footer-form-btn {
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #4D5AE5;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 165px;
    border: none;
    height: 40px;
    white-space: nowrap;
    margin: 0;

}




.footer-form-input::placeholder {
    color: #ffffff;
}

.footer-icon-edit {
    margin-left: 16px;
    fill: #FFFFFF;
}


/* ===========BACKDROP================= */
.backdrop {
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: none;
}

.backdrop.is-open {
    display: block;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    min-height: 623px;
    padding: 72px 16px 24px 16px;
    transform: translate(-50%, -50%) scale(1);
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 25px 24px 24px;
    }
}

.btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:focus,
.btn-close:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff
}

.icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.form-group {
    margin-bottom: 8px;

}

.form-label {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4px;
    color: #8E8F99;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.container-input {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: #4D5AE5;
}

.form-icon-edit {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+.form-icon-edit {
    fill: #4D5AE5;
}

.group-comment {
    margin-bottom: 16px;
}

.textarea-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.textarea-comment:focus {
    border-color: #4D5AE5;
}

.group-checkbox {
    margin-bottom: 24px;
    display: flex;
    width: 256px;
    align-items: center;
    gap: 8px;
}

@media screen and (min-width: 768px) {
    .group-checkbox {
        width: 360px;
    }
}

.accept {
    display: block;
    color: #8e8f99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    
    
}

.icon-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

}

.form-icon-checkbox {
    border: none;
}

.visually-hidden:checked+.accept .icon-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.privacy-policy {
    color: #4d5ae5;
    text-decoration-line: underline;
}

.form-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin: auto;
    white-space: nowrap;
    margin-top: 24px;
    margin-bottom: 24px;
}