body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #ffffff;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2 {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  line-height: 1.11px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.logo-web {
  color: #4d5ae5;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.logo-studio {
  color: #2e2f42;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}

.menu-nav {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.menu-nav:hover,
.menu-nav:focus {
  color: #404bbf;
}

.menu-nav:active {
}

.contacts {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

/* Секция 1 */
h1 {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  font-style: normal;
}

.first-slider {
  background: #2e2f42;
  line-height: 1.07;
}

.button {
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button:hover,
.button:focus {
  background: #404bbf;
}

/* Секция 2-3 */

.team-list-title {
  font-size: 36px;
  line-height: 1.11;
}

.list {
  background: #f4f4fd;
  flex-shrink: 0;
}

.list-item {
  background: #fff;
}

.list-subject {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Футер */

footer {
  background-color: #2e2f42;
}

.logo-footer-studio {
  color: #f4f4fd;
  line-height: 1.17;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
